<div class="modal-backdrop show"></div>

<div class="modal" role="dialog" aria-hidden="true" style="display:block;">
    <div class="modal-dialog d-flex justify-content-center" role="document" style="z-index: 8000000; width: 100%; height: 100%; align-items: center">
            <div class="spinner-border text-warning" style="height: 60px; width: 60px;" role="status"></div>
    </div>
</div>